:root {
    --unvisited: #ffffff;
    --visited: #219ebc;
    --wall: #023047;
    --start: #d62828;
    --end: #faa307;
    --path: #fb8500;
}

.cell {
    width: 30px; 
    height: 30px;
    border: 1px solid rgb(175, 216, 248);
}

table {
    border-collapse: collapse;
    margin-top: 30px;
}

.cell-unvisited{
    background-color: var(--unvisited);
}

.cell-visited{
    background-color: var(--visited);
    animation-name: visitedAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-path{
    background-color: var(--path);
    animation-name: pathAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-wall{
    background-color: var(--wall);
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-start{
    background-color: var(--start);
    animation-name: startAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-end{
    background-color: var(--end);
    animation-name: endAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--visited);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--visited);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--visited);
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--path);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--path);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--path);
    }
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--wall);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--wall);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--wall);
    }
}

@keyframes startAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--start);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--start);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--start);
    }
}

@keyframes endAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--end);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--end);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--end);
    }
}
