.btn {
    background-color: var(--gray); 
    border: none;
    color: white;
    padding: 13px;
    margin: 4px 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    transition: background-color 0.2s ease;
    font-family: "Segoe UI", Arial, sans-serif;
}

.btn:hover {
    background-color: var(--dark_gray);
    cursor: pointer;
}

.btn.green {
  background-color: var(--green);
}

.btn.blue {
  background-color: var(--blue);
}

.btn.red {
  background-color: var(--red);
}

.btn.orange {
  background-color: var(--orange);
}

.btn.green:hover {
  background-color: var(--dark_green);
}

.btn.blue:hover {
  background-color: var(--dark_blue);
}

.btn.red:hover {
  background-color: var(--dark_red);
}

.btn.orange:hover {
  background-color: var(--dark_orange);
}

