.cell {
    width: var(--cell_size); 
    height: var(--cell_size);
    border: 1px solid var(--dark_gray);
}

.cell-unvisited{
    background-color: var(--background_color);
}

.cell-visited{
    background-color: var(--light_blue);
    animation-name: visitedAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-path{
    background-color: var(--yellow);
    animation-name: pathAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-wall{
    background-color: var(--gray);
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-start{
    background-color: var(--red);
    animation-name: startAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.cell-end{
    background-color: var(--orange);
    animation-name: endAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}


/***** ANIMATIONS *****/
@keyframes visitedAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--dark_blue);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--dark_blue);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--light_blue);
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(1.0);
        blackground-color: var(--yellow);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--yellow);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--yellow);
    }
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--gray);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--gray);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--gray);
    }
}

@keyframes startAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--red);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--red);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--red);
    }
}

@keyframes endAnimation {
    0% {
        transform: scale(.3);
        blackground-color: var(--orange);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--orange);
    }
    100% {
        transform: scale(1.0);
        background-color: var(--orange);
    }
}

